.container {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 50px;

  grid-template-areas:
    "header header header"
    "sidebar . main"
    "footer footer footer";

  grid-column-gap: 10px;
  grid-row-gap: 5px;

  justify-items: stretch;
  align-items: start;
  justify-content: space-evenly;
  align-content: center;
}

.item-1 {
  grid-area: header;
  background: red;
}

.item-2 {
  grid-area: sidebar;
  background: yellow;
}

.item-3 {
  grid-area: main;
  background: green;
}

.item-4 {
  grid-area: footer;
  background: blue;
}

